.index_header {
    width: 100%;
    height: 92px;
    background: #1d5598;

}

.index_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heart_banner {
    position: relative;
}

.index_content img {
    /* margin-left: 23px; */
}

.header_mid {
    position: relative;
    margin-left: 101px;
}

.search {
    width: 460px;
    height: 34px;
    border-radius: 25px;
    outline: none;
    border: 0;
    padding: 0 20px;
}

.header_mid span {
    display: inline-block;
    width: 21px;
    height: 24px;
    background: url(../img/sousuo.png)no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}

.header_img {
    width: 23px;
    height: 27px;
    margin: 0 46px 0 0;
}

.header_img img {
    width: 100%;
    height: 100%;
}

.header_name {
    height: 42px;
    line-height: 42px;
}

.header_name span:nth-child(1) {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    margin-right: 20px;
}

.header_name span:nth-child(1) img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.header_name span:nth-child(2) {
    font-size: 18px;
    color: white;
}


/* 头部弹框 */
/* 通知 */
.answer {
    width: 322px;
    height: 330px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 8px 1px rgba(126, 126, 126, 1);
    border-radius: 8px;
    position: absolute;
    top: -10px;
    right: 30px;
    display: none;
}

.answer span {
    position: absolute;
    top: -14px;
    right: 142px;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 9px 15px;
    border-style: solid;
    border-color: transparent transparent white;
}

.answer_uu {
    padding: 11px 26px 0 16px;
    height: 294px;
    overflow: hidden;
}

.answer_uu li {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(29, 85, 152, 1);
    line-height: 23px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B8B8B8;
    margin-bottom: 7px;
    cursor: pointer;
}

.answer p {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 23px;
    text-align: right;
    margin-right: 26px;
    cursor: pointer;
}

/* 个人中心 */


.header_two {
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 8px 1px rgba(126, 126, 126, 1);
    border-radius: 4px;
    position: absolute;
    top: -10px;
    right: 25px;
    display: none;
}

.header_two span {
    position: absolute;
    top: -14px;
    right: 30px;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 9px 15px;
    border-style: solid;
    border-color: transparent transparent white;
}

.header_two_uu {
    padding-top: 10px;
}

.header_two_uu li {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 23px;
    margin-bottom: 7px;
    cursor: pointer;
    padding: 0 14px 0 11px;
}


.banner_uu li {
    font-size: 16px;
    position: inherit;
}

.content {
    padding-top: 4.3%;
}

.content_list {
    padding: 20px 31px 20px 20px;
}

.content_list h4 {
    font-size: 18px;
    margin-bottom: 9px;
}

.content_list .content_text {
    font-size: 16px;
}

.comment ul li,
.comment ul li:nth-child(1) span {
    font-size: 14px;
}

.comment ul li img {
    width: 10px;
    height: 10px;
}

.make_uu li img {
    width: 30px;
    height: 30px;
}

.make_uu li p {
    color: #444;
    font-size: 16px;
    margin-top: 5px;
}

.make_uu {
    padding: 10px 0px;
}

.make_uu li,
.content_make {
    height: auto;
}

.make_uu li:nth-child(1) {
    height: auto;
}

.report_banner ul {
    height: auto;
    font-size: 16px;
}

.report_list_uu {
    font-size: 16px;
}

.appCenter,
.chat_room_uu,
.chat_user,
.chatRoom,
.report_list_uu,
.report {
    height: auto;
}

.chatRoom {
    margin-top: 10px;
}

.chat_more {
    line-height: 2.5;
}

.chat_user {
    padding: 15px 27px 15px 17px;
    margin-top: 10px;
    border-bottom: 0;
}

.app_uu li {
    text-align: center;
}

.app_uu li img {
    width: 30px;
    height: 30px;
}

.app_logo {
    margin-top: 0;
}

.index_content a img {
    width: 70%;
    margin-left: 23px;
}

.index_header {
    height: auto;
    padding: 15px 0px;
    position: fixed;
    top: 0;
}

.search {
    background: #eee;
}

.content_list .content_text {
    line-height: 1.67;
    cursor: pointer;
}

.comment {
    margin-top: 9px;
}

.chat_more .left {
    float: left;
}

.chat_more .right {
    float: right;
}

.chat_room_uu li {
    height: 50px;
}

.chat_room_uu_right {
    width: 65px;
    height: 28px;
}

.index_right {
    display: flex;
    align-items: center;
    margin-right: 23px;
}






.pagination {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    height: 50px;
}

.pagination li {
    float: left;
    height: 30px;
    border-radius: 5px;
    margin: 3px;
    color: #666;
}

.pagination li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    /* color: black; */
}


.active {
    background: #1D5598 !important;
    color: white !important;
}

.pagination ul {
    display: flex;
    list-style: none;
}

.pagination .one a {
    width: 60px;
    height: 30px;
}