.index_header {
    width: 100%;
    height: 100px;
    background: url(../img/banner.png)no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    z-index: 11;
    background-color: #FFF;
}

.index_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index_left {
    margin-left: 11px;
}

.index_left span:nth-child(1) {
    display: inline-block;
    width: 45px;
    height: 47px;
    background: url(../img/警徽.png)no-repeat;
    background-size: 100% 100%;
}


.index_left span:nth-child(2) {
    display: inline-block;
    width: 163px;
    height: 49px;
    background: url(../img/创意.png)no-repeat;
    background-size: 100% 100%;
    margin: 0 30px 0 25px;
}

.index_left span:nth-child(3) {
    display: inline-block;
    width: 112px;
    height: 27px;
    background: url(../img/首页logo.png)no-repeat;
    background-size: 100% 100%;
}

.index_right {
    height: 100%;
    line-height: 110px;
    margin-right: 57px;
}

.index_right span {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(193, 207, 255, 1);
    line-height: 23px;
    cursor: pointer;
}

.index_right span:nth-child(2) {
    margin: 0 48px 0 75px;
}

.BannerImg {
    color: white !important;
}



/* 分页 */
.pagination {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    height: 50px;
}

.pagination li {
    float: left;
    height: 30px;
    border-radius: 3px;
    margin: 3px;
    color: #666;
}

.pagination li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    /* color: black; */
}


.active {
    background: #1D5598 !important;
    color: white !important;
}

.pagination ul {
    display: flex;
    list-style: none;
}

.pagination .one a {
    width: 60px;
    height: 30px;
}

.page_test {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}



/* 弹框 */
.pBox {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    z-index: 2147000001;
    width: 500px;
    height: 200px;
    margin-left: -285px;
    margin-top: -150px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    box-shadow: 3px 5px 9px #ccc;
}

.tBox {
    height: 30px;
    line-height: 30px;
    padding: 10px 30px;
    border-bottom: solid 1px #eef0f1;
}

.tBox span {
    font-size: 18px;
    display: block;
    height: 30px;
    color: black;

}

.mBox {
    color: black;
    text-align: left;
    margin: 20px 0 0 30px;
    overflow: hidden;
    height: 74px;
}

.mBox span {
    line-height: 26px;
    font-weight: bold;
    color: #535e66;
}

.bBox {
    color: black;
    text-align: right;
}

.bBox span {
    display: inline-block;
    width: 65px;
    height: 30px;
    background: #699beb;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
}