.user_header {
    width: 100%;
}

.user_banner {
    position: relative;
}

.user_content {
    width: 1127px;
    height: 140px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 43px 0 30px;
}

.user_content_left {
    display: flex;
}

.user_content_img {
    width: 95px;
    height: 95px;
    background: rgba(220, 220, 220, 1);
    margin-right: 32px;
}

.user_content_img img {
    width: 100%;
    height: 100%;
}

.user_content_text {
    font-size: 25px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-top: 25px;
    position: relative;
}

.user_edit {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    margin-top: 21px;
}

.user_content_btn {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(29, 85, 152, 1);
    position: absolute;
    bottom: 5px;
    right: -75px;
    cursor: pointer;
}

.user_content_one {
    margin-top: 18px;
}

.user_content_one input {
    width: 185px;
    height: 24px;
    background: rgba(239, 239, 239, 1);
    border: 1px solid rgba(210, 210, 210, 1);
    outline: none;
    padding-left: 10px;
}

.user_content_one span {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(29, 85, 152, 1);
    line-height: 18px;
    cursor: pointer;
}

.user_content_one span:nth-child(2) {
    margin: 0 17px 0 19px;
}

.user_content_right p:nth-child(1) {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 18px;
    text-align: right;
    margin-bottom: 22px;
}

.user_content_right p:nth-child(2) {
    font-size: 60px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.user_content_right p span {
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 24px;
}

/* user_title */
.user_title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.user_title_banner {
    width: 730px;
    height: 66px;
    background: rgba(255, 255, 255, 1);
}

.user_title_banner ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 6px;
}

.user_title_banner ul li {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 66px;
    height: 90%;
    width: 76px;
    text-align: center;
    cursor: pointer;
    border-bottom: 6px solid white;
}




/* 右边 */
.user_title_right {
    width: 387px;
    height: 451px;
    background: rgba(255, 255, 255, 1);
    padding: 28px 30px 0 21px;
}

.user_title_right h4 {
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 24px;
}

.user_table {
    height: 420px;
    overflow: hidden;
}

.user_table table {
    width: 100%;
    margin-top: 19px;
}

th {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
    text-align: center;
}

td {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
    text-align: center;
}

.blue {
    border-bottom: 6px solid #1D5598 !important;
    border-radius: 3px;
}





/* 文章  */
.user_title_content {
    margin-top: 1px;
}

.content_list {
    width: 689px;
    background: rgba(255, 255, 255, 1);
    padding: 30px 21px 5px 20px;
    margin-bottom: 9px;
}


.good {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    line-height: 16px;
    display: flex;
    align-items: center;
}

.good span:nth-child(2) {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/cha@2x.png)no-repeat;
    background-size: 100% 100%;
    margin: 0 10px;
}

.good span:nth-child(3) {
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url(../img/gou@2x.png)no-repeat;
    background-size: 100% 100%;
}

.content_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
}

.content_nav span {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    cursor: pointer;
}

.content_list h4 {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 23px;
}

.content_list .content_text {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
    text-indent: 30px;
}

.entable {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment p {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
    line-height: 24px;
}

.comment ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 7px;
}

.comment ul li {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #797979;
    line-height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comment ul li:nth-child(1) span {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(29, 85, 152, 1);
    line-height: 24px;
}

.comment ul li img {
    width: 13px;
    height: 11px;
    margin-left: 5px;
}

.comment ul li:nth-child(2) {
    margin: 0 27px 0 37px;
}

.comment ul li:nth-child(3) img {
    width: 18px;
    height: 16px;
}

.comment ul li:nth-child(3) img,
.comment ul li:nth-child(2) img {
    margin-right: 6px;
}




/* 评论框 */
.comment_main {
    width: 626px;
    /* height: 430px; */
    border: 1px solid rgba(170, 170, 170, 1);
    margin: 20px 0;
    padding: 24px 34px 22px 24px;
}

.comment_list {
    border-bottom: 1px solid #aaa;
    margin-bottom: 18px;
}

.comment_list h5 {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(1, 1, 1, 1);
    line-height: 24px;
}

.comment_list p {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
}


.reply span {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
    line-height: 24px;
}

.reply {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    /* cursor: pointer; */
}

.reply span img {
    width: 16px;
    height: 15px;
}

.reply span:nth-child(1) {
    display: flex;
    align-items: center;
}

.reply span:nth-child(2) {
    margin: 0 27px;
}


.reply_one {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.reply_one>input {
    width: 501px;
    height: 28px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(203, 201, 201, 1);
    outline: none;
    padding: 0 0 0 20px;
}

.reply_one img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 98px;
    top: 4px;
    cursor: pointer;
}

.reply_one span {
    display: inline-block;
    width: 63px;
    height: 28px;
    background: rgba(29, 85, 152, 1);
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: 12px;
    cursor: pointer;
}

.comment_inp {
    width: 104%;
    position: relative;
    margin-left: -7px;
}

.comment_inp input {
    width: 558px;
    height: 28px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(203, 201, 201, 1);
    outline: none;
    padding-left: 10px;
}

.comment_inp img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 88px;
}

.comment_inp span {
    display: inline-block;
    width: 63px;
    height: 28px;
    background: rgba(29, 85, 152, 1);
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: 12px;
    cursor: pointer;
}





/* 回复 */
.agree {
    margin-top: 1px;
}

.agree_one {
    width: 680px;
    background: rgba(255, 255, 255, 1);
    padding: 30px 30px 15px 20px;
    margin-bottom: 10px;
}

.agree_one h4 {
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 23px;
    margin-bottom: 20px;
}

.agree_one h4 span {
    color: #1D5598;
}

.agree_one p {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-indent: 25px;
}

.agree_uu {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.agree_uu li {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 26px;
    cursor: pointer;
}

.agree_uu li img {
    width: 14px;
    height: 15px;
    margin-right: 10px;
}

.agree_inp {
    text-align: center;
    margin-top: 15px;
}

.agree_inp input {
    width: 80%;
    height: 28px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(203, 201, 201, 1);
    padding-left: 15px;
}

.agree_inp span {
    display: inline-block;
    width: 63px;
    height: 28px;
    background: rgba(29, 85, 152, 1);
    text-align: center;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
    margin-left: 12px;
}


/*  */
.user_none {
    width: 153px;
    height: 159px;
    background: url(../img/fabu.png)no-repeat;
    background-size: 100% 100%;
    margin: 90px auto 0;
}

/* 没有回复 */
.agree_none {
    width: 142px;
    height: 165px;
    background: url(../img/none.png)no-repeat;
    background-size: 100% 100%;
    margin: 90px auto 0;
}