<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浦口公安局</title>
    <link rel="stylesheet" href="css/reset.css?v=1.0.0">
    <link rel="stylesheet" href="css/user.css?v=1.0.0">
    <link rel="stylesheet" href="css/header.css?v=1.0.0">
</head>

<body>
    <div id="app" v-cloak>
        <!-- 头部 -->
        <div class="user_header">
            <cp-banner :userName="userName" @go-answer="goAnswer" @go-name="goname"></cp-banner>
            <!-- 通知 -->
            <div class="user_banner container">
                <div class="answer">
                    <!-- <span></span> -->
                    <ul class="answer_uu">
                        <li v-for="item in list">
                            张三回复了你的《反家暴法》实施三周年，一些未成年人为自己维权。
                        </li>
                    </ul>
                    <p>查看全部回复</p>
                </div>
                <!-- 个人中心 -->
                <div class="header_two">
                    <span></span>
                    <ul class="header_two_uu">
                        <li @click="gouser">我的主页</li>
                        <li @click="quitChange">退出登录</li>
                        <li @click="goPass">修改密码</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- 内容 -->
        <div class="user_content container">
            <div class="user_content_left">
                <div class="user_content_img">
                    <img src="" alt="">
                </div>
                <div class="user_content_text">
                    <p>{{userName}}</p>
                </div>
            </div>
            <div class="user_content_right">
                <p>总积分</p>
                <p>{{intergral}} <span>分</span></p>
            </div>
        </div>

        <div class="user_title container">
            <div class="user_title_left">
                <div class="user_title_banner">
                    <ul>
                        <li :class="{blue:isone}" @click="userTag">发布</li>
                        <li :class="{blue:!isone}" @click="userTag">回复</li>
                    </ul>
                </div>
                <!-- 发布 -->
                <div class="user_title_content" v-show="isone">
                    <div class="content_list" v-for="(item,index) in titleList">
                        <div class="user_delete">
                            <h4>{{item.title}}</h4>
                            <span class="user-btn" v-if="isdetele !=index" @click="TagDetele(index)">删除</span>
                            <div class="user-delete" v-else>
                                <span>确认删除</span>
                                <span @click="cancel"></span>
                                <span @click="deteleChange(item.id)"></span>
                            </div>
                        </div>
                        <p class="content_text" @click="readChange(item,index)" :class="{entable:postIndex == index}"
                            v-html="filterImg(item.content)"></p>
                        <div class="comment">
                            <p>发布于{{item.create_at}}</p>
                            <ul>
                                <li class="read" @click="readChange(item,index)">
                                    <template v-if="getCharaLength(item.content)">
                                        <span v-if="postIndex != index">阅读全文</span>
                                        <span v-else>收起全文</span>
                                        <img src="img/icon-01 (2).png" alt="" v-if="postIndex != index">
                                        <img src="img/icon-01 (1).png" alt="" v-else>
                                    </template>
                                </li>
                                <li @click="likePostOrComment(item.id,'',0)" class="pointer">
                                    <img v-if="item.status == 0" src="img/icon-06.png" class="icon-like">
                                    <img v-else src="img/icon-07.png" class="icon-like">
                                    <span>{{item.records}}赞</span>
                                </li>
                                <li @click="comChange(index)">
                                    <img src="img/评论.png" alt="">
                                    <span v-show="!iscomment">{{item.comment_list.length}}条评论</span>
                                    <span v-show="iscomment">收起评论</span>
                                </li>
                            </ul>
                        </div>

                        <div class="comment_main" v-cloak v-show="commentActive ==index">
                            <div class="comment_list" v-for="(comment,index) in item.comment_list">
                                <h5>{{comment.nickname}}</h5>
                                <p>
                                    {{comment.content}}
                                </p>
                                <div class="reply">
                                    <span class="pointer" @click="likePostOrComment('',comment.id,0)">
                                        <img v-if="comment.status == 0" src="img/icon-06.png" alt="">
                                        <img v-else src="img/icon-07.png" alt="">
                                        {{comment.phraise}}赞
                                    </span>
                                    <span @click="lookchange(item.id,comment.id)" class="pointer">查看回复</span>
                                    <span @click="gospeak(index)" class="pointer">回复</span>
                                </div>

                                <div class="reply_one" v-if="currentActive==index">
                                    <input type="text" placeholder="写下你的回复" v-model="replyComment">
                                    <img src="img/表情.png" alt="">
                                    <span @click="commentChange(item.id,comment.id,item.uid)">发布</span>
                                </div>
                            </div>

                            <div class="comment_inp">
                                <input type="text" v-model="Pcomment">
                                <img src="img/表情.png" alt="">
                                <span @click="commentChange(item.id)">发布</span>
                            </div>

                        </div>
                    </div>

                    <!-- 没有发布 -->
                    <div class="user_none" v-if="isnone">
                    </div>
                </div>
                <!-- 赞同 -->
                <div class="agree" v-show="!isone">
                    <div class="agree_one" v-for="(item,index) in commentList">
                        <h4>{{item.nickname}}评论我 <span>{{item.comment_content}}</span></h4>
                        <p v-html="item.content"></p>
                        <div class="agree_img">
                            <ul class="agree_uu">
                                <li>
                                    <img src="img/icon-06.png" alt="">
                                    <span>{{item.records}}赞</span>
                                </li>
                                <li @click="agreeChange(index)">
                                    <img src="img/评论.png" alt="">
                                    <span>回复</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 回复 -->
                        <div class="agree_inp" v-if="currentActive==index">
                            <input type="text" v-model="replyComment">
                            <span @click="commentChange(item.id,item.comment_id,item.uid,1)">发送</span>
                        </div>
                    </div>
                    <div class="agree_one" v-for="(item,index) in replayList">
                        <h4>{{item.nickname}}回复我 <span>{{item.comment_content}}</span></h4>
                        <p>{{item.content}}</p>
                        <div class="agree_img">
                            <ul class="agree_uu">
                                <li>
                                    <img src="img/icon-06.png" alt="">
                                    <span>点赞</span>
                                </li>
                                <li @click="agreeChange(index)">
                                    <img src="img/评论.png" alt="">
                                    <span>回复</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 回复 -->
                        <div class="agree_inp" v-if="currentActive==index">
                            <input type="text">
                            <span @click="send()">发送</span>
                        </div>
                    </div>

                    <!-- 没有回复 -->
                    <div class="agree_none" v-if="isnone">
                    </div>
                </div>
            </div>
            <!-- 右边 -->
            <div class="user_title_right">
                <h4>积分排行</h4>
                <div class="user_table">
                    <table>
                        <tr>
                            <th></th>
                            <th>登录积分</th>
                            <th>发布积分</th>
                            <th>获赞积分</th>
                            <th>总积分</th>
                        </tr>
                        <tr v-for="(item,index) in userlist">
                            <td class="td_name">{{index+1}}.{{item.nickname}}</td>
                            <td>{{item.login}}</td>
                            <td>{{item.post}}</td>
                            <td>{{item.phraise}}</td>
                            <td>{{item.intergral}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <!-- 遮罩 -->
        <div class="shade" v-cloak v-show="isshade">
            <!-- 查看回复 -->
            <div class="see" v-show="isspeak">
                <div class="see_text">
                    <div class="see_text_top">
                        <h4>{{currentComment.nickname}}</h4>
                        <span>{{currentComment.create_at | filterTime}}</span>
                    </div>
                    <p v-html="currentComment.content"></p>
                </div>
                <div class="see_main">
                    <ul class="see_uu" v-for="(item,index) in seelist">
                        <li>
                            <div class="see_uu_one">
                                <h4>{{item.nickname}}回复{{item.comment_user}}</h4>
                                <span>{{item.create_at | filterTime}}</span>
                            </div>
                            <p v-html="item.content"></p>
                            <div class="see_uu_three">
                                <div @click="likePostOrComment('',item.id,1)" class="see_uu_btn pointer">
                                    <img v-if="item.status == 0" src="img/icon-06.png" alt="">
                                    <img v-else src="img/icon-07.png" alt="">
                                    <span>{{item.phraise}}赞</span>
                                </div>
                                <span @click="gospeak1(index)" class="pointer">回复</span>
                            </div>
                            <div class="see_inp" v-show="oneIndex == index">
                                <input v-model="replyComment" type="text">
                                <span></span>
                                <span class="pointer" @click="commentChange(currentPostId,item.id,item.uid,1)">发布</span>
                            </div>
                        </li>
                        <!-- 子集 -->
                        <li v-for="(part,index) in item.child" class="list_two">
                            <div class="see_uu_one">
                                <h4>{{part.nickname}}回复{{part.comment_user}}</h4>
                                <span>{{part.create_at | filterTime}}</span>
                            </div>
                            <p v-html="part.content"></p>
                            <div class="see_uu_three">
                                <div @click="likePostOrComment('',part.id,1)" class="see_uu_btn pointer">
                                    <img v-if="part.status == 0" src="img/icon-06.png" alt="">
                                    <img v-else src="img/icon-07.png" alt="">
                                    <span>{{part.phraise}}赞</span>
                                </div>
                                <span @click="gospeak2(index)" class="pointer">回复</span>
                            </div>
                            <div class="see_inp" v-show="twoIndex == index">
                                <input v-model="replyComment" type="text">
                                <span></span>
                                <span class="pointer" @click="commentChange(currentPostId,item.id,item.uid,1)">发布</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 修改密码 -->
            <div class="pass" v-show="ispass">
                <div class="pass_top">
                    修改密码
                </div>
                <div class="pass_bot">
                    <ul class="pass_uu">
                        <li>
                            <span>原密码：</span>
                            <input type="password" v-model="Opsw">
                        </li>
                        <li>
                            <span>新密码：</span>
                            <input type="password" v-model="Npsw">
                        </li>
                        <li>
                            <span>重新输入密码：</span>
                            <input type="password" v-model="Tpsw">
                        </li>
                    </ul>
                    <p @click="editChange">确认</p>
                </div>
            </div>
            <div class="close pointer" @click="goClose">
            </div>
        </div>
    </div>
</body>

</html>

<script src="js/jquery.min.js?v=1.0.0"></script>
<script src="js/vue.js?v=1.0.0"></script>
<script src="js/components.js?v=1.0.0"></script>
<script src="js/api.js?v=1.0.0"></script>
<script src="js/user.js?v=1.0.0"></script>