<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浦口公安局</title>
    <link rel="stylesheet" href="css/reset.css?v=1.0.7">
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="css/index.css?v=1.0.7">
    <link rel="stylesheet" type="text/css" href="css/page/zxf_page.css?v=1.0.7" />
    <link rel="stylesheet" href="css/page/iconfont.css?v=1.0.7">
    <link rel="stylesheet" href="css/common.css">
</head>

<body>

    <div id="app" v-cloak>
        <div class="index_header">
            <div class="index_content container">
                <div @click="goHome" class="index_left pointer">
                </div>
                <!-- <div class="header_mid">
                    <input @keydown.enter="searchChange" class="search" type="text" v-model="keyWords"
                        placeholder="搜索关键词">
                    <span @click="searchChange"></span>
                </div> -->
                <div class="header_name pointer">
                    <div class="header_img" @click="goAnswer" v-if="this.userName">
                        <img src="img/信息.png" alt="">
                        <span v-if="length>0?isnum:!isnum">{{length}}</span>
                    </div>
                    <div class="header_enter" v-else>
                        <a @click="Enter">登录 | </a>
                        <a @click="Resgiter">注册</a>
                    </div>
                    <span @click="goname" class="name" v-if="this.userName">{{userName}}</span>
                </div>
                <!-- 通知 -->
                <div class="answer">
                    <span class="answer_sp"></span>
                    <ul v-if="list.length != 0 || replaylist.length != 0" class="answer_uu" @click="goUser">
                        <li v-for="item in list">
                            {{item.nickname}} <span>评论了你的</span> {{item.title}}
                            <span v-html="item.content"></span>
                        </li>
                        <li v-for="item in replaylist">
                            {{item.nickname}} <span>回复你</span>{{item.title}}
                        </li>
                    </ul>
                    <ul v-else class="answer_uu">
                        <p class="no-notice">暂无通知</p>
                    </ul>
                </div>
                <!-- 个人中心 -->
                <div class="header_two">
                    <span></span>
                    <ul class="header_two_uu">
                        <li @click="gouser">我的主页</li>
                        <li @click="quitChange">退出登录</li>
                        <li @click="goPass">修改密码</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="content_main container">
                <div class="content_left">
                    <div class="banner">
                        <ul class="banner_uu">
                            <li :class="{active:index == currentIndex}" v-for="(item,index) in ForumCate.slice(0, 4)"
                                @click="bannerChange(index,item.id)">
                                {{item.title}}
                            </li>
                            <div class="header_mid">
                                <input @keydown.enter="searchChange" class="search" type="text" v-model="keyWords"
                                    placeholder="搜索关键词">
                                <span @click="searchChange"></span>
                            </div>
                            <div class="banner_more" v-show="ismore">
                                <span></span>
                                <ul class="more_uu">
                                    <li v-for="(item,index) in ForumCate.slice(4)" :class="{active:index == numIndex}"
                                        @click="banner(index,item.id)">
                                        {{item.title}}
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>

                    <div class="content_scroll">
                        <div class="content_list" v-for="(item,index) in titleList">
                            <h4>{{item.title}}</h4>

                            <div class="content_mid">
                                <img :src="item.picture.indexOf('http') != -1 ? item.picture : 'http://police.pzhkj.cn'+item.picture"
                                    alt="" class="mid_img" v-if="item.picture!=null && item.picture != ''"
                                    v-show="pIndex !==index">
                                <div>
                                    <p class="content_text" :class="{entable:postIndex == index}"
                                        v-html="filterImg(item.content)"></p>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="comment">
                                <p>发布于{{item.create_at}}</p>
                                <ul class="commnet_uu">

                                    <li>
                                        <div class="comment-ul">
                                            <div class="comment-one" @click="likePostOrComment(item.id,'',0,1)">
                                                <img class="comment-img" src="img/好.png" alt="">
                                                <span class="comment-test">{{item.type1}}好</span>
                                            </div>
                                            <div class="comment-one" @click="likePostOrComment(item.id,'',0,2)">
                                                <img class="comment-img" src="img/一般.png" alt="">
                                                <span class="comment-test">{{item.type2}}一般</span>
                                            </div>
                                            <div class="comment-one" @click="likePostOrComment(item.id,'',0,3)">
                                                <img class="comment-img" src="img/坏.png" alt="">
                                                <span class="comment-test">{{item.type3}}不感兴趣</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li @click="comChange(item.id,index)">
                                        <img src="img/评论.png" alt="">
                                        <span v-show="!iscomment">{{item.comment_list.length}}条评论</span>
                                        <span v-show="iscomment">收起评论</span>
                                    </li>
                                    <li class="read" @click="readChange(item,index)">
                                        <template v-if="getCharaLength(item.content)">
                                            <span v-if="postIndex != index">阅读全文</span>
                                            <span v-else>收起全文</span>
                                            <img src="img/icon-01 (2).png" alt="" v-if="postIndex != index">
                                            <img src="img/icon-01 (1).png" alt="" v-else>
                                        </template>
                                    </li>
                                </ul>
                            </div>
                            <!-- 评论 -->
                            <div class="comment_main" v-cloak v-show="commentActive ==index">
                                <div class="comment_list" v-for="(comment,index) in item.comment_list">
                                    <h5>{{comment.nickname}} 评论：</h5>
                                    <p v-html="comment.content"></p>
                                    <div class="reply">
                                        <span class="pointer">
                                            <div class="comment-ul">
                                                <div class="comment-one" @click="likePostOrComment('',comment.id,0,1)">
                                                    <img class="comment-img" src="img/好.png" alt="">
                                                    <span class="comment-test">{{comment.type1}}好</span>
                                                </div>
                                                <div class="comment-one" @click="likePostOrComment('',comment.id,0,2)">
                                                    <img class="comment-img" src="img/一般.png" alt="">
                                                    <span class="comment-test">{{comment.type2}}一般</span>
                                                </div>
                                                <div class="comment-one" @click="likePostOrComment('',comment.id,0,3)">
                                                    <img class="comment-img" src="img/坏.png" alt="">
                                                    <span class="comment-test">{{comment.type3}}不感兴趣</span>
                                                </div>
                                            </div>

                                        </span>
                                        <span @click="lookchange(item.id,comment.id)" class="pointer">查看回复</span>
                                        <span @click="gospeak(index)" class="pointer">回复</span>
                                    </div>

                                    <div class="reply_one" v-if="currentActive==index">
                                        <input type="text" :placeholder="'回复'+comment.nickname+':'"
                                            v-model="replyComment">
                                        <span @click="commentChange(comment.post_id,comment.id,comment.uid)">发布</span>
                                    </div>
                                </div>

                                <div class="comment_inp">
                                    <input placeholder="想说点什么？" type="text" v-model="Pcomment">
                                    <span @click="commentChange(item.id)">发布</span>
                                </div>

                            </div>
                        </div>
                        <!-- 未搜索到 -->
                        <div class="content_img" v-show="isNone">
                            <img src="img/矢量智能对象.png" alt="">
                            <p>没有找到符合条件的结果</p>
                        </div>
                    </div>

                </div>
                <div class="content_right">
                    <!-- 论坛报备 -->
                    <div class="content_make">
                        <ul class="make_uu">
                            <li @click="writeReply">
                                <img src="img/论坛.png" alt="">
                                <p>发表观点</p>
                            </li>
                            <li @click="reportChange">
                                <img src="img/报备.png" alt="">
                                <p>进行报备</p>
                            </li>
                        </ul>
                    </div>

                    <!-- 应用中心 -->
                    <div class="appCenter">
                        <h4>应用中心</h4>
                        <div class="app_logo">
                            <ul class="app_uu" @click="appChange">
                                <li>
                                    <a href="heart.html#go1">
                                        <img src="img/icon-08.png" alt="">
                                        <p>插件中心</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="heart.html#go2">
                                        <img src="img/icon-09.png" alt="">
                                        <p>音乐中心</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="heart.html#go3">
                                        <img src="img/icon-10.png" alt="">
                                        <p>书籍中心</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="heart.html#go4">
                                        <img src="img/icon-11.png" alt="">
                                        <p>教程中心</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="heart.html#go4">
                                        <img src="img/icon-12.png" alt="">
                                        <p>研判工具</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="heart.html#go4">
                                        <img src="img/icon-13.png" alt="">
                                        <p>技战法</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 所有报备列表 -->
                    <div class="report">
                        <div class="report-title-wrapper">
                            <p class="report-title">报备中心</p>
                            <div @click="toggleCalendar" class="show-calendar">
                                <img src="img/calendar.png" class="calendar-icon">
                                <p class="show-datae">{{showDate}}</p>
                            </div>
                        </div>
                        <div id='schedule-box' class="boxshaw">

                        </div>
                        <div id="repair-chart">

                        </div>
                        <div class="repair-category-wrapper">
                            <div class="repair-category-item">
                                <p class="title">本日报备数</p>
                                <p class="show-counts">{{repairInfo.today}}</p>
                            </div>
                            <div class="repair-category-item">
                                <p class="title">本周报备数</p>
                                <p class="show-counts">{{repairInfo.week}}</p>
                            </div>
                            <div class="repair-category-item">
                                <p class="title">本月报备数</p>
                                <p class="show-counts">{{repairInfo.month}}</p>
                            </div>
                            <div class="repair-category-item">
                                <p class="title">总报备数</p>
                                <p class="show-counts">{{repairInfo.total}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- 遮罩 -->
        <div class="shade" v-cloak v-show="isshade">
            <!-- 报备 -->
            <div class="case" v-show="isCase">
                <div class="case_title">
                    报备
                </div>
                <div class="case_main">
                    <ul class="case_uu">
                        <li>
                            <label for="">报备类型：</label>
                            <select name="" id="myselect">
                                <option value="index" v-for="(item,index) in repairSorts" :key=index>
                                    {{item.name}}
                                </option>
                            </select>
                        </li>
                        <li>
                            <label class="case_main_one">报备内容：</label>
                            <textarea class="wishContent" maxlength="60"></textarea>
                            <span class="wordsNum">60字以内 0/60</span>
                        </li>
                    </ul>
                    <span class="case_btn" @click="reChange"></span>
                </div>
            </div>

            <!-- 查看回复 -->
            <div class="see" v-show="isspeak">
                <div class="see_text">
                    <div class="see_text_top">
                        <h4>{{currentComment.nickname}}</h4>
                        <span>{{currentComment.create_at | filterTime}}</span>
                    </div>
                    <p v-html="currentComment.content"></p>
                </div>
                <div class="see_main">
                    <template v-if="seelist.length == 0">
                        <p class="no-replay">暂无回复</p>
                    </template>
                    <template v-else>
                        <ul class="see_uu" v-for="(item,index) in seelist">
                            <li>
                                <div class="see_uu_one">
                                    <h4>{{item.nickname}}<span class="replay-cha">回复</span>{{item.comment_user}}</h4>
                                    <span>{{item.create_at | filterTime}}</span>
                                </div>
                                <p v-html="item.content"></p>
                                <div class="see_uu_three">
                                    <div class="see_uu_btn pointer">
                                        <div class="comment-ul">
                                            <div class="comment-one" @click="likePostOrComment('',item.id,1,1)">
                                                <img class="comment-img" src="img/好.png" alt="">
                                                <span class="comment-test">{{item.type1}}好</span>
                                            </div>
                                            <div class="comment-one" @click="likePostOrComment('',item.id,1,2)">
                                                <img class="comment-img" src="img/一般.png" alt="">
                                                <span class="comment-test">{{item.type2}}一般</span>
                                            </div>
                                            <div class="comment-one" @click="likePostOrComment('',item.id,1,3)">
                                                <img class="comment-img" src="img/坏.png" alt="">
                                                <span class="comment-test">{{item.type3}}不感兴趣</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span @click="gospeak1(index)" class="pointer">回复</span>
                                </div>
                                <div class="see_inp" v-show="oneIndex == index">
                                    <input v-model="replyComment" type="text">
                                    <span></span>
                                    <span class="pointer"
                                        @click="commentChange(currentPostId,item.id,item.uid,1)">发布</span>
                                </div>
                            </li>
                            <!-- 子集 -->
                            <li v-for="(part,index) in item.child" class="list_two">
                                <div class="see_uu_one">
                                    <h4>{{part.nickname}}回复了{{part.comment_user}}</h4>
                                    <span>{{part.create_at | filterTime}}</span>
                                </div>
                                <p v-html="part.content"></p>
                                <div class="see_uu_three">
                                    <div @click="likePostOrComment('',part.id,1)" class="see_uu_btn pointer">
                                        <div class="comment-one" @click="likePostOrComment('',part.id,1,1)">
                                            <img class="comment-img" src="img/好.png" alt="">
                                            <span class="comment-test">{{part.type1}}好</span>
                                        </div>
                                        <div class="comment-one" @click="likePostOrComment('',part.id,1,2)">
                                            <img class="comment-img" src="img/一般.png" alt="">
                                            <span class="comment-test">{{part.type2}}一般</span>
                                        </div>
                                        <div class="comment-one" @click="likePostOrComment('',part.id,1,3)">
                                            <img class="comment-img" src="img/坏.png" alt="">
                                            <span class="comment-test">{{part.type3}}不感兴趣</span>
                                        </div>
                                    </div>
                                    <span @click="gospeak2(index)" class="pointer">回复</span>
                                </div>
                                <div class="see_inp" v-show="twoIndex == index">
                                    <input v-model="replyComment" type="text">
                                    <span></span>
                                    <span class="pointer"
                                        @click="commentChange(currentPostId,item.id,item.uid,1)">发布</span>
                                </div>
                            </li>
                    </template>

                    </ul>
                </div>
            </div>
            <!-- 修改密码 -->
            <div class="pass" v-show="ispass">
                <div class="pass_top">
                    修改密码
                </div>
                <div class="pass_bot">
                    <ul class="pass_uu">
                        <li>
                            <span>原密码：</span>
                            <input type="password" v-model="Opsw">
                        </li>
                        <li>
                            <span>新密码：</span>
                            <input type="password" v-model="Npsw">
                        </li>
                        <li>
                            <span>重新输入密码：</span>
                            <input type="password" v-model="Tpsw">
                        </li>
                    </ul>
                    <p @click="editChange">确认</p>
                </div>
            </div>


            <div class="close" @click="goClose">
            </div>
        </div>

    </div>


</body>

</html>
<script src="js/jquery.min.js?v=1.0.7"></script>
<script src="js/vue.js?v=1.0.7"></script>
<script src="js/components.js?v=1.0.7"></script>
<script type="text/javascript" src="js/pagejs/zxf_page.js?v=1.0.7"></script>
<script src="js/api.js?v=1.0.7"></script>
<script src="kindeditor/kindeditor-all-min.js"></script>
<script src="kindeditor/zh-CN.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/echarts-gl.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/getIpAdd.js"></script>
<script src="js/index.js?v=1.0.7"></script>

<script type="text/javascript">
    //翻页
    $(".zxf_pagediv").createPage({
        pageNum: 5,
        current: 1,
        backfun: function (e) {}
    });
</script>