<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浦口公安局</title>

    <link rel="stylesheet" href="css/reset.css?v=1.0.8">
    <link rel="stylesheet" href="css/login.css?v=1.0.8">
</head>

<body>
    <div id="app" v-cloak>
        <div class="login_logo">
            <div class="login_top">
                <img src="img/警徽.png" alt="">
                <p>南京市浦口区公安分局</p>
            </div>
            <!-- 登录界面 -->
            <div class="login_bot">
                <div class="bird"></div>

                <!-- 选择登录角色 -->
                <div class="role" v-show="isrole">
                    <ul class="role_uu">
                        <li @click="goOrder">
                            <img src="img/组 2.png" alt="">
                            <p>接单员登录</p>
                        </li>
                        <li @click="goPolice">
                            <img src="img/组 3.png" alt="">
                            <p>警员登录</p>
                        </li>
                        <li @click="goMatron">
                            <img src="img/组 4.png" alt="">
                            <p>管理登录</p>
                        </li>
                    </ul>
                </div>

                <!-- 警员登录 -->
                <div class="police" v-show="ispolice">
                    <h4>警员登录</h4>
                    <ul class="police_uu Pul">
                        <li>
                            <label for="">昵称：</label>
                            <input type="text" v-model="Pname">
                        </li>
                        <li>
                            <label for="">密码：</label>
                            <input type="password" v-model="Ppsw">
                        </li>
                    </ul>
                    <span class="role_register" >
                        <span @click="goRegister" role-a>注册 / </span><a href="index.html" class="role-a">暂不注册</a>
                    </span>
                    <button class="enter" @click="policeEnter">登录</button>
                    <span class="other" @click="goBack">其他登录</span>
                </div>

                <!-- 管理登录 -->
                <div class="matron" v-show="ismatron">
                    <h4>管理员登录</h4>
                    <ul class="matron_uu">
                        <li>
                            <label for="">账号：</label>
                            <input type="text">
                        </li>
                        <li>
                            <label for="">密码：</label>
                            <input type="password">
                        </li>
                    </ul>
                    <button class="enter">登录</button>
                    <span class="other" @click="goBack">其他登录</span>
                </div>

                <!-- 接单员登录 -->
                <div class="order" v-show="isorder">
                    <h4>接单员登录</h4>
                    <ul class="matron_uu">
                        <li>
                            <label for="">账号：</label>
                            <input type="text" v-model="Oname">
                        </li>
                        <li>
                            <label for="">密码：</label>
                            <input type="password" v-model="Opsw">
                        </li>
                    </ul>
                    <button type="button" class="enter enterone" @click="orderEnter">登录</button>
                    <span class="other" @click="goBack">其他登录</span>
                </div>

                <!-- 注册 -->
                <div class="register police" v-show="isregister">
                    <h4>警员注册</h4>
                    <ul class="police_uu">
                        <li>
                            <label for="">昵称：</label>
                            <input type="text" v-model="Gname">
                        </li>
                        <li>
                            <label for="">密码：</label>
                            <input type="text" v-model="Gpsw">
                        </li>
                        <li>
                            <label for="">确认密码：</label>
                            <input type="password" v-model="Ggpsw">
                        </li>
                    </ul>
                    <button class="enter enterone" @click="policeEnter">注册</button>
                    <span class="other" >
                            <span @click="goEnter" class="role-a">登录 / </span><a href="index.html" class="role-a">暂不登录</a>
                    </span>
                </div>
            </div>
        </div>



    </div>
</body>

</html>

<script src="js/jquery.min.js?v=1.0.8"></script>
<script src="js/vue.js?v=1.0.8"></script>
<script src="js/api.js?v=1.0.8"></script>
<script src="js/getIpAdd.js"></script>
<script src="js/login.js?v=1.0.8"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>