div.zxf_pagediv{
	text-align: center;
	color: #999999;
}
div.zxf_pagediv a{
	text-decoration: none;
	
}
div.zxf_pagediv span,div.zxf_pagediv a{
	display: inline-block;
	box-sizing: border-box;
}
.current{
	color: #ffffff;
	background: #1D5598;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
}
.zxfPagenum{
	color: #666;
	background: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	border-radius: 3px;
}
.nextpage{

	margin: 0 5px;
}
.nextbtn,.prebtn,span.disabled{
	color: #666;
	background: #fff;
	width: 88px;
	height: 42px;
	line-height: 42px;
	border-radius: 3px;
}
.zxfinput{
	width: 50px;
	height: 42px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #E6E6E6;
	margin: 0 12px;
	border-radius: 3px;
	color: #666;
}
.zxfokbtn{
	width: 48px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #E6E6E6;
	margin-left: 10px;
	cursor:pointer;
	border-radius: 3px;
	background: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}





/* 插件 */
div.zxf{
	text-align: center;
	color: #999999;
}
div.zxf a{
	text-decoration: none;
	
}
div.zxf span,div.zxf a{
	display: inline-block;
	box-sizing: border-box;
}

/* 教程 */
div.center{
	text-align: center;
	color: #999999;
}
div.center a{
	text-decoration: none;
	
}
div.center span,div.center a{
	display: inline-block;
	box-sizing: border-box;
}