.user_header {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.user_banner {
    position: relative;
}

.user_content {
    height: 1rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

.user_content_left {
    margin: 0 0 0 59px;
    font-size: 0.3rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
}

.user_edit {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    margin-top: 21px;
}

.user_content_btn {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(29, 85, 152, 1);
    position: absolute;
    bottom: 5px;
    right: -75px;
    cursor: pointer;
}

.user_content_one {
    margin-top: 18px;
}

.user_content_one input {
    width: 185px;
    height: 24px;
    background: rgba(239, 239, 239, 1);
    border: 1px solid rgba(210, 210, 210, 1);
    outline: none;
    padding-left: 10px;
}

.user_content_one span {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(29, 85, 152, 1);
    line-height: 18px;
    cursor: pointer;
}

.user_content_one span:nth-child(2) {
    margin: 0 17px 0 19px;
}

.user_content_right {
    margin-right: 43px;
    height: 100%;
}

.user_ul {
    padding: 11px 0 10px 0;
}

.user_ul li {
    float: left;
    text-align: center;
    width: 95px;
    border-left: 1px solid #F4F4F4;

}

.user_ul li:nth-child(1) {
    border-left: 0;
}

.user_ul li p {
    font-size: 0.25rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 32px;
}

/* user_title */
.user_title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.user_title_banner {
    height: 66px;
    background: rgba(255, 255, 255, 1);
}

.user_title_banner ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 6px;
}

.user_title_banner ul li {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 66px;
    height: 90%;
    width: 76px;
    text-align: center;
    cursor: pointer;
    border-bottom: 6px solid white;
}




/* 右边 */
.user_title_right {
    box-sizing: border-box;
    width: 28%;
    height: 451px;
    background: rgba(255, 255, 255, 1);
    padding: 28px 30px 0 21px;
}

.user_title_right h4 {
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 24px;
    float: left;
}

.user_right_wrap {
    position: relative;
}

.wrap_tab {
    float: right;
    line-height: 24px;
    cursor: pointer;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.wrap_tab span:nth-child(1) {
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(../img/切换.png)no-repeat;
    background-size: 100% 100%;
}

/* 切换框 */
.wrap_box {
    position: absolute;
    right: 0;
    top: 30px;
    width: 121px;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px 0px rgba(94, 94, 94, 0.66);
    border-radius: 2px;
}

.wrap_ul li {
    width: 121px;
    height: 25px;
    border-radius: 2px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #797979;
    line-height: 25px;
    text-align: center;
}

.Wrap_active {
    background: rgba(241, 241, 241, 1) !important;
    color: black !important;
}





.user_table {
    height: 420px;
    overflow: hidden;
}

.user_table table {
    width: 100%;
    margin-top: 19px;
}

th {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
    text-align: center;
}

td {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
    text-align: center;
}

.blue {
    border-bottom: 6px solid #1D5598 !important;
    border-radius: 3px;
}





/* 文章  */
.user_title_content {
    margin-top: 1px;
    /* padding: 30px 0;
    background: #fff; */
}

.content_list {
    width: 679px;
    background: rgba(255, 255, 255, 1);
    padding: 30px 31px 5px 20px;
    margin-bottom: 9px;
}


.good {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    line-height: 16px;
    display: flex;
    align-items: center;
}

.good span:nth-child(2) {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/cha@2x.png)no-repeat;
    background-size: 100% 100%;
    margin: 0 10px;
}

.good span:nth-child(3) {
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url(../img/gou@2x.png)no-repeat;
    background-size: 100% 100%;
}

.content_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
}

.content_nav span {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    cursor: pointer;
}

.content_list h4 {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 18px;
}

.content_list .content_text {
    height: 75px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
    text-indent: 30px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.entable {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1000000 !important;
    overflow: hidden;
    height: auto !important;
    /* max-height: 100000px!important; */
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment p {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
    line-height: 24px;
}

.comment ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 7px;
}

.comment ul li {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #797979;
    line-height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comment ul li:nth-child(1) span {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(29, 85, 152, 1);
    line-height: 24px;
}

.comment ul li img {
    width: 13px;
    height: 11px;
    margin-left: 5px;
}

.comment ul li:nth-child(2) {
    margin: 0 27px 0 37px;
}

.comment ul li:nth-child(3) img {
    width: 18px;
    height: 16px;
}

.comment ul li:nth-child(3) img,
.comment ul li:nth-child(2) img {
    margin-right: 6px;
}




/* 评论框 */
.comment_main {
    width: 626px;
    /* height: 430px; */
    border: 1px solid rgba(170, 170, 170, 1);
    margin: 30px 0;
    padding: 24px 34px 22px 24px;
}

.comment_list {
    border-bottom: 1px solid #aaa;
    margin-bottom: 18px;
}

.comment_list h5 {
    font-size: 15px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
    line-height: 24px;
}

.comment_list p {
    font-size: 15px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
    text-indent: 2rem;
}


.reply span {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
    line-height: 24px;
}

.reply {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    /* cursor: pointer; */
}

.reply span:nth-child(1) {
    display: flex;
    align-items: center;
}

.reply .pointer:nth-child(2) {
    margin: 0 27px;
}


.reply_one {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reply_one>input {
    width: 80%;
    height: 28px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(203, 201, 201, 1);
    outline: none;
    padding: 0 0 0 10px;
}

.reply_one img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 98px;
    top: 4px;
    cursor: pointer;
}

.reply_one span {
    display: inline-block;
    width: 15%;
    height: 28px;
    background: rgba(29, 85, 152, 1);
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: 12px;
    cursor: pointer;
}

.comment_inp {
    width: 104%;
    position: relative;
    margin-left: -7px;
}

.comment_inp input {
    width: 558px;
    height: 28px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(203, 201, 201, 1);
    outline: none;
    padding-left: 10px;
}

.comment_inp img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 88px;
}

.comment_inp span {
    display: inline-block;
    width: 63px;
    height: 28px;
    background: rgba(29, 85, 152, 1);
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: 12px;
    cursor: pointer;
}





/* 回复 */
.agree {
    margin-top: 1px;
}

.agree_one {
    width: 680px;
    background: rgba(255, 255, 255, 1);
    padding: 30px 30px 15px 20px;
    margin-bottom: 10px;
}

.agree_one h4 {
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 23px;
    margin-bottom: 20px;
}

.agree_one h4 span {
    color: #1D5598;
}

.agree_one p {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;

}

.agree_one .pp {
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-indent: 25px;
}

.agree_uu {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.agree_uu li {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 26px;
    cursor: pointer;
}

.agree_uu li img {
    width: 14px;
    height: 15px;
    margin-right: 10px;
}

.agree_inp {
    text-align: center;
    margin-top: 15px;
}

.agree_inp input {
    width: 80%;
    height: 28px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(203, 201, 201, 1);
    padding-left: 15px;
}

.agree_inp span {
    display: inline-block;
    width: 63px;
    height: 28px;
    background: rgba(29, 85, 152, 1);
    text-align: center;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
    margin-left: 12px;
}


/*  */
.user_none {
    width: 153px;
    height: 159px;
    background: url(../img/fabu.png)no-repeat;
    background-size: 100% 100%;
    /* margin: 90px auto 0; */
    margin: 0 auto;
}

/* 没有回复 */
.agree_none {
    width: 142px;
    height: 165px;
    background: url(../img/none.png)no-repeat;
    background-size: 100% 100%;
    margin: 90px auto 0;
}

.td_name {
    text-align: left;
}

img.icon-like {
    width: 18px !important;
    height: 18px !important;
}

/* 遮罩 */
.shade {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1111;
}

/* 查看回复 */
.see {
    width: 700px;
    max-height: 75%;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.see::-webkit-scrollbar {
    width: 0;
}

.see_main {
    min-height: 50px;
    overflow: scroll;
}

.see_text {
    width: 668px;
    border-bottom: 8px solid #D7D7D7;
    padding: 25px 15px;
}

.see_text_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.see_text_top h4 {
    font-size: 15px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
}

.see_text_top span {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(126, 125, 125, 1);
    line-height: 28px;
}

.see_text p {
    text-indent: 30px;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.see_uu {
    padding: 19px 17px 0 15px;
}

.see_uu li {
    padding-bottom: 17px;
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 22px;
}

.see_uu_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.see_uu_one h4 {
    font-size: 15px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
}

.see_uu_one span {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(126, 125, 125, 1);
    line-height: 28px;
    margin-right: 12px;
}

.see_uu li p {
    text-indent: 30px;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

span.replay-cha {
    color: #8590ab;
    margin: 0 5px;
}

.see_uu_three {
    display: flex;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(132, 131, 131, 1);
    line-height: 28px;
    justify-content: flex-end;
}

.see_uu_btn {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-right: 65px;
    cursor: pointer;
}

.see_inp {
    position: relative;
    margin-top: 14px;
    text-align: center;
}

.see_inp input {
    width: 82%;
    height: 28px;
    background: rgba(242, 242, 242, 1);
    border: 1px solid rgba(203, 201, 201, 1);
    outline: none;
    padding-left: 10px;
}

.see_inp span:nth-child(2) {
    display: inline-block;
    width: 21px;
    height: 20px;
    /* background: url(../img/表情.png)no-repeat; */
    background-size: 100% 100%;
    position: absolute;
    right: 16%;
    top: 5px;
}

.see_inp span:nth-child(3) {
    display: inline-block;
    width: 63px;
    height: 28px;
    background: rgba(29, 85, 152, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
    text-align: center;
    margin-left: 12px;
}

/* 修改密码 */
.pass {
    width: 600px;
    height: 360px;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pass_top {
    height: 64px;
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 64px;
    text-align: center;
    border-bottom: 1px solid #B8B8B8;
}

.pass_uu li {
    text-align: center;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 18px;
    margin-top: 35px;
}

.pass_uu li span {
    display: inline-block;
    width: 126px;
    text-align: right;
}

.pass_uu li input {
    width: 256px;
    height: 26px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    outline: none;
}

.pass_bot p {
    width: 231px;
    height: 28px;
    background: rgba(126, 206, 244, 1);
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(254, 254, 254, 1);
    margin: 46px auto;
}

.close {
    width: 30px;
    height: 30px;
    background: url(../img/错.png)no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 40px;
    right: 50px;
    cursor: pointer;
}

.user_delete {
    display: flex;
    justify-content: space-between;
}

.user-btn {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    line-height: 24px;
    cursor: pointer;
}

.user-delete {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(121, 121, 121, 1);
    line-height: 24px;
    cursor: pointer;
}

.user-delete span:nth-child(2) {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/cha@2x.png)no-repeat;
    background-size: 100% 100%;
    margin: 0 9px 0 11px;
}

.user-delete span:nth-child(3) {
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url(../img/gou@2x.png)no-repeat;
    background-size: 100% 100%;
}

.list_two {
    padding-left: 62px;
}

.user_push {
    display: inline-block;
    width: 153px;
    height: 159px;
    background: url(../img/没有发布.png)no-repeat;
    background-size: 100% 100%;
    margin: 94px 0 0 227px;
}

.user_img {
    display: inline-block;
    width: 153px;
    height: 159px;
    background: url(../img/没有回复.png)no-repeat;
    background-size: 100% 100%;
}

/*  */
.mid_img {
    width: 158px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;
    float: left;
}

p.no-replay {
    color: #8590ab;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.no-tools-wrapper img {
    width: 100%;
}

.no-tools-wrapper {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0;
}

p.tips-content {
    color: #ABABAB;
}

.no-replay-wrapper {
    background: #fff;
    padding: 30px 0;
}

.agree_none.no-replay {
    margin: 0 auto;
}

img.icon-like {
    width: 18px !important;
    height: 18px !important;
    margin-right: 6px;
}

/* 报备 */
.base {
    width: 100%;
    height: auto;
    background: white;
    margin-top: 1px;
}

table {
    width: 100%;
}

.Htr {
    height: 30px;
    background: rgba(148, 210, 255, 1);
}

.Tcolor {
    background: #F4F4F4;
}



/* 点赞框 */
.pointer {
    position: relative;
}

.comment-ul {
    display: flex;
}

.comment-img {
    width: 15px;
    height: 15px;
    margin: 0 8px;
}

.comment-one {
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.Hcolor {
    color: #333 !important;
}
.user_title_left {
    width: 70%;
}