/* 论坛 */
.center {
    width: 827px;
    margin: 0 auto;
}

.forum {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;

}

.form_top {
    width: 100%;
    height: 83px;
    line-height: 83px;
    border-bottom: 1px solid #CDCDCD;
}

.form_top_right {
    float: right;
    cursor: pointer;
    position: relative;
}

.form_top_right img {
    width: 27px;
    height: 23px;
    margin-right: 11px;
}

.form_top_right span {
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(170, 170, 170, 1);
}

.forum h3 {
    font-size: 30px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    float: left;
}


.forum_main {
    width: 827px;
    margin: 17px auto;
}

.forum_main_uu li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    font-size: 48px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    position: relative;
}

.Ttest {
    position: absolute;
    top: 36px;
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(187, 187, 187, 1);
}

.forum_main input {
    width: 100%;
    height: 80px;
    border: 0;
    outline: none;
    font-size: 48px;
}

input::-webkit-input-placeholder {
    font-size: 48px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(187, 187, 187, 1);
}

.forum_content_banner {
    width: 364px;
    height: 24px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.forum_content textarea {
    width: 374px;
    height: 96px;
    background: #E5E5E5;
    resize: none;
    outline: none;
    border: 1px solid rgba(229, 229, 229, 1);
    border-top: 0;
    font-size: 16px;
    padding: 5px;
    font-family: PingFangSC-Regular;
}

.forum_tag {
    width: 384px;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.forum_text {
    width: 90px;
    text-align: right;
}

.forum_btn {
    width: 85px;
    height: 22px;
    background: url(../img/发布按钮.png)no-repeat;
    background-size: 100% 100%;
    margin: 20px auto 11px;
    cursor: pointer;
}


.iconfont {
    margin-right: 5px;
    cursor: pointer;
}

.forum_content_banner select {
    margin: 0 16px;
}

.forum_content_banner span:last-child {
    display: inline-block;
    width: 21px;
    height: 16px;
    font-size: 0;
}

.forum_content_banner span:last-child img {
    width: 100%;
    height: 100%;
}

#testSelect {
    width: 66px;
    height: 16px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(121, 121, 121, 1);
}

.ke-container {
    width: 827px !important;
}

.ke-container {
    border: 0 !important;
}

.ke-statusbar {
    background-color: white !important;
    border-top: 0 !important;
}

.ke-edit {
    height: 470px !important;
}

.ke-toolbar {
    border-top: 1px solid #CCC !important;
    background-color: white !important;
}

.ke-toolbar .ke-outline {
    margin-right: 20px !important;
}

.ke-edit-iframe,
.ke-edit-textarea {
    height: 470px !important;
}

.form_img {
    width: 827px;
    height: 221px;
    background: rgba(247, 247, 247, 1);
    text-align: center;
}

.form_img .Img {
    width: 65px;
    height: 53px;
    margin: 75px 0 20px 0;
}

.form_img #OImg {
    width: 100%;
    height: 100%;
}

.form_img span {
    display: block;
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(159, 159, 159, 1);
}

.form_more {
    position: absolute;
    right: -120px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px 1px rgba(91, 91, 91, 0.58);
    border-radius: 10px;
    z-index: 9;
}

.form_more h4 {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 23px;
    margin: 13px 0 15px 17px;
}

.form_more_uu {
    width: 283px;
}

.form_more_uu li:nth-child(2n) {
    float: right;
    margin-right: 34px;
}

.form_more_uu li:nth-child(2n+1) {
    float: left;
    margin-left: 18px;
}

.form_more_uu li {
    width: 100px;
    height: 23px;
    font-size: 0;
    line-height: 23px;
    background: #BFBFBF;
    border-radius: 9px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 18px;
}

.sky {
    background: #7ECEF4 !important;
    color: white !important;
}


.clearflow {
    clear: both;
    height: 0;
}

.form_more p {
    position: absolute;
    top: -8px;
    left: 80px;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #B6B6B6;
}